.giticon {
    width:24px;
    margin: 5px
}
.gitbutton {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 20px 0 0 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    /*
    * I removed the original CSS defining the font type, as it did not play nicely with
    * the CSS defining my link size.
    */
    /*font:11px/normal sans-serif; */
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
    }
    .gitbutton:hover,
    .gitbutton:focus,
    .gitbutton:active,
    .gitbutton.active {
    text-decoration: none;
    color: #333;
    }
    /* overrides extra padding on gitbutton elements in Firefox */
    .gitbutton::-moz-focus-inner {
    padding: 0;
    border: 0;
    }
     
    .gitbutton.pill {
    border-radius: 50em;
    }